<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefuncat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/950ae3dc-ee9a-42c9-b7ec-9589f59b8f36/resourcegroups/ResouceGroup1/providers/Microsoft.Web/sites/AzureFunCat</ResourceId>
    <UserName>$AzureFunCat</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefuncat.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>